.div{
    text-align: center;
    font-size: x-large;
   
}

img{
    display: block;
    margin: 0 auto;
    width: 25%;
}

h1{
    text-align: center;
}

body{
    margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: yellow;
}

.textbox{
    display: flex;
    justify-content: center;
}

.error-output{
    margin-left:  10px;
    font-size:  20px;
    font-style:italic;
    color: red;
}
